{% extends "mail/layout.html" %} {% load static %} {% block body %}
<h2>{{ request.user.email }}</h2>

<button class="btn btn-sm btn-outline-primary" id="inbox">
  Inbox <span class="badge text-bg-primary" data-id="inbox-count">0</span>
</button>
<button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
<button class="btn btn-sm btn-outline-primary" id="sent">
  Sent <span class="badge text-bg-primary" data-id="sent-count">0</span>
</button>
<button class="btn btn-sm btn-outline-primary" id="archived">
  Archived <span class="badge text-bg-primary" data-id="archived-count">0</span>
</button>
<a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
<hr />

<div id="emails-view" class="hidden"></div>

<div id="compose-view" class="hidden">
  <h3>New Email</h3>
  <form id="compose-form" class="compose-email-form">
    <div class="mb-3">
      From:
      <input disabled class="form-control" value="{{ request.user.email }}" />
    </div>
    <div class="mb-3">
      <label for="compose-recipients" class="form-label">To:</label>
      <input
        id="compose-recipients"
        class="form-control"
        name="recipients"
        required
      />
    </div>
    <div class="mb-3">
      <input
        class="form-control"
        id="compose-subject"
        placeholder="Subject"
        name="subject"
      />
    </div>
    <div class="mb-3">
      <textarea
        class="form-control editor"
        id="compose-body"
        placeholder="Body"
        name="body"
        required
      ></textarea>
    </div>
    <button id="submit-button" type="submit" class="btn btn-primary">
      Send
    </button>
  </form>

  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div
      id="email-sent-success"
      class="toast"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="toast-header">
        <strong class="me-auto">Email Sent</strong>
        <small>Now</small>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="toast"
          aria-label="Close"
        ></button>
      </div>
      <div class="toast-body">
        Navigate to the sent inbox to check more details
      </div>
    </div>
    <div
      id="email-sent-failure"
      class="toast"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="toast-header">
        <strong class="me-auto">Email not Sent</strong>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="toast"
          aria-label="Close"
        ></button>
      </div>
      <div class="toast-body" data-id="error-message"></div>
    </div>
  </div>
</div>

<div id="email-view" class="hidden">
  <dl class="email">
    <div>
      <dt>From:</dt>
      <dd data-id="from"></dd>
    </div>
    <div>
      <dt>To:</dt>
      <dd data-id="to"></dd>
    </div>
    <div>
      <dt>Subject:</dt>
      <dd data-id="subject"></dd>
    </div>
    <div>
      <dt>Timestamp:</dt>
      <dd data-id="timestamp"></dd>
    </div>
  </dl>
  <button class="btn btn-primary" data-id="reply">Reply</button>
  <button class="btn btn-light" data-id="btn-archive">Archive</button>
  <button class="btn btn-light" data-id="btn-unarchive">Unarchive</button>
  <hr />
  <textarea
    class="form-control editor"
    data-id="body"
    placeholder="Body"
    readonly
  ></textarea>
</div>

{% endblock %} {% block script %}
<script type="module" src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}
